<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fatguy.behealthy">

    <permission
        android:name="com.fatguy.behealthy.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.CovidActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:label="Forgot_password_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.TrackerActivity"
            android:label="TrackerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ReminderActivity"
            android:label="ReminderActivity" />
        <activity
            android:name=".Activities.ImagleProfile"
            android:label="ImagleProfile" />
        <activity
            android:name=".Activities.UpdatingUserProfile"
            android:label="Updating_user_profile" />
        <activity
            android:name=".Activities.HRConclusion"
            android:label="Updating_user_profile" />
        <activity
            android:name=".Activities.StartDiagnose"
            android:label="Start Diagnose" />
        <activity
            android:name=".Activities.Diagnose"
            android:label="Diagnosing" />
        <activity
            android:name=".Activities.HospitalActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.AcitivityGMap"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.HeartRateMonitor"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>